*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabela{
    border: solid 1px black;
    align-items: center;
}

th, td, tr{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
